repos:
  # 1. Hooks b치sicos de limpieza (Git standards)
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace   # Borra espacios al final de las l칤neas
      - id: end-of-file-fixer     # Asegura que haya una l칤nea vac칤a al final
      - id: check-yaml            # Valida que tus YAML no est칠n rotos
      - id: check-added-large-files # Evita subir binarios gigantes por error

  # 2. Hooks espec칤ficos de Terraform (Anton Babenko - Leyenda en Terraform)
  - repo: https://github.com/antonbabenko/pre-commit-terraform
    rev: v1.81.0
    hooks:
      # Formato y Validaci칩n
      - id: terraform_fmt
      - id: terraform_validate

      # Seguridad (Ejecuta tfsec localmente antes de subir)
      - id: terraform_tfsec
        args:
          - --args=--force-all-dirs
          - --args=--soft-fail # Localmente solo avisa, no bloquea (opcional)

      # 3. AUTOMATIZACI칍N DE DOCS (Tu punto 1) 游늯
      # Esto inyectar치 autom치ticamente tablas de inputs/outputs en tu README
      - id: terraform_docs
        args:
          - --args=--lockfile=false
